<html>
    <head>
        <title>Kanban - Ship</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.6/dragula.css">
    </head>
    <body>
        <!-- begin navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Kanban</a>
                </div>
            </div>
        </nav>
        <!-- end navbar -->
        <div class="container-fluid">
            <div id="mountNode">
            <!-- TODO: make a header for this -->
            <!-- template for a column -->
        </div>
    </body>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.6/dragula.min.js"></script>
    <script async src="/js/bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://api.trello.com/1/client.js?key=fb8e44d70892583e13b98c1bab5d6aa1"></script>
</html>
